<template>
  <request-graphql :query="require('@/graphql/artistShow.gql')" :variables="{slug:currentArtistSlug}">
    <template v-slot="{result:{data}}">
      <section>
        <artist-show-header :artist="data.artist" />
      </section>
    </template>
  </request-graphql>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ArtistShowHeader from '~/components/artists/ArtistShowHeader.vue';
import RequestGraphql from '~/components/requests/RequestGraphql.vue';

    @Component({
      name: 'ArtistShow',
      components: { RequestGraphql, ArtistShowHeader }
    })
export default class slug extends Vue {
  get currentArtistSlug () {
    return this.$route.params.slug;
  }
}
</script>
