<template>
  <section>
    <list-paginated :query="require('~/graphql/artistList.gql')" query-key="artists">
      <template #default="{data, paginatorInfo}">
        <artist-filter-list :total="paginatorInfo.total" />
        <transition-group name="flip-list" class="flex flex-wrap justify-between" tag="div">
          <artist-card v-for="artist in data" :key="artist.slug" :artist="artist" />
        </transition-group>
      </template>
    </list-paginated>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Pagination from '~/components/lists/Pagination.vue';
import ListPaginated from '~/components/lists/ListPaginated.vue';
import ArtistCard from '~/components/artists/ArtistCard.vue';
import ArtistFilterList from '~/components/artists/ArtistFilterList.vue';

// @ts-ignore
    @Component({
      name: 'index',
      components: { ArtistFilterList, ArtistCard, ListPaginated, Pagination }

    })
export default class index extends Vue {
}
</script>
