<template>
  <section class="md:px-6 lg:px-12 fading-out-hero-pattern pt-3">
    <div class="flex justify-between pb-3 text-font-secondary w-full">
      <a @click="$router.back()">
        <button-circle-arrow />
      </a>
    </div>

    <section v-if="concert" class="md:mt-20 lg:mt-32 mt-12">
      <div class="flex bg-background-light shadow-lg rounded px-2 md:px-0">
        <div class="w-1/2 xl:w-1/3 max-w-lg hidden md:block">
          <div class="pb-full relative w-9/12 mx-auto">
            <artist-placeholder
              v-if="concert.headliners[0].images.length < 1"
              class="w-full h-full object-cover object-center text-font-secondary uppercase text-center center"
            />
            <responsive-image
              v-else
              :image="concert.headliners[0].images[0]"
              :alt="concert.headliners[0].name"
              class="h-full md:-mt-20 lg:-mt-32 w-full object-cover absolute text-transparent-full rounded shadow-lg"
            />
          </div>
        </div>
        <div class="flex w-full">
          <div class="pt-2 w-full">
            <div class="mb-5">
              <div class="text-font-secondary text-lg font-thin tracking-wider" v-text="tourName" />
              <div class="text-font-primary text-3xl tracking-wider">
                <span v-for="(headliner,index) in concert.headliners" :key="headliner.id">
                  <nuxt-link :to="{name:'artists-slug', params: {slug: headliner.slug}}" class="hover:text-brand-accent"> {{ headliner.name }}</nuxt-link>
                  <template v-if="index + 1 < concert.headliners.length">
                    ·
                  </template>
                </span>
              </div>
              <div class="text-font-primary text-xl tracking-wider font-light">
                <span v-for="(support,index) in concert.supports" :key="support.id">
                  <nuxt-link :to="{name:'artists-slug', params: {slug:support.slug}}" class="hover:text-brand-accent"> {{ support.name }}</nuxt-link>
                  <template v-if="index + 1 < concert.supports.length">
                    ·
                  </template>
                </span>
              </div>
            </div>
            <div class="flex items-center text-lg tracking-wider mb-4">
              <location class="text-2xl text-font-secondary mr-2" />
              <div>
                <span class="font-bold" v-text="concert.venue.city.name" />
                <span class="font-light" v-text="concert.venue.name" />
                <span v-if="concert.stage" class="font-light" v-text="concert.stage.name" />
              </div>
            </div>

            <div class="flex items-center text-lg tracking-widest mb-4">
              <calendar class="text-2xl text-font-secondary mr-2" />
              <div>
                <span class="font-bold" v-text="concert.weekday" />
                <span class="font-light" v-text="concert.date" />
              </div>
            </div>

            <div class="flex items-center text-lg tracking-widest mb-4">
              <clock class="text-2xl text-font-secondary mr-2" />
              <div>
                <div v-if="doors" class="inline mr-3">
                  <span class="text-base">Doors:</span> <span class="font-bold" v-text="doors" />
                </div>

                <div v-if="begin" class="inline">
                  <span class="text-base">Begin:</span> <span class="font-bold" v-text="begin" />
                </div>
              </div>
            </div>

            <div v-if="price" class="flex items-center text-lg tracking-widest mb-4">
              <wallet class="text-2xl text-font-secondary mr-2" />
              <div>
                <span class="font-bold " v-text="price" />
              </div>
            </div>
          </div>

          <div
            class="text-lg md:text-xl mr-3 mt-3"
          >
            <div
              class="flex justify-center items-center px-2 bg-brand-accent uppercase"
              v-text="concert.month"
            />
            <div
              class="py-1 flex justify-center items-center bg-background-darker font-bold"
              v-text="concert.day"
            />
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Location from '@/assets/svgs/icons/Location.svg';
import Calendar from '@/assets/svgs/icons/Calendar.svg';
import Clock from '@/assets/svgs/icons/Clock.svg';
import Wallet from '@/assets/svgs/icons/Wallet.svg';
import ButtonCircleArrow from '~/components/buttons/ButtonCircleArrow.vue';
import ResponsiveImage from '~/components/ui/ResponsiveImage.vue';
import ArtistPlaceholder from '@/static/placeholder/ArtistPlaceholder.svg';

    interface Concert {
        id: number
        uuid: string
        begin: string
        doors: string
        price: number
        headliners: {
            name: string
            images:{src:string, srcSet:string}[]
        }[]
        supports: {
            name: string
        }[]
        date: string
        venue: {
            name: string
            city: {
                name: string
            }
        }
    };

    // @ts-ignore
    @Component({
      name: 'ConcertShow',
      components: { ArtistPlaceholder, ResponsiveImage, ButtonCircleArrow, Location, Calendar, Clock, Wallet },
      apollo: {
        concert: {
          query: require('~/graphql/concertShow.gql'),
          variables (): object {
            return {
              // @ts-ignore
              uuid: this.$route.params.uuid
            };
          }
        }
      },
      head () {
        return {
          // @ts-ignore
          title: this.ogTitle,
          meta: [
            // @ts-ignore
            { hid: 'og:title', property: 'og:title', name: 'og:title', content: this.ogTitle },
            // @ts-ignore
            { hid: 'description', property: 'description', name: 'description', content: this.ogDescription },
            {
              hid: 'og:description',
              property: 'og:description',
              name: 'og:description',
              // @ts-ignore
              content: this.ogDescription
            },
            {
              hid: 'og:url',
              property: 'og:url',
              name: 'og:url',
              content: 'https://stageslice.com' + this.$route.path
            },
            // @ts-ignore
            { hid: 'og:image', property: 'og:image', name: 'og:image', content: this.poster }
          ]
        };
      }
    })
export default class ConcertShow extends Vue {
        protected concert!: Concert;

        get poster () {
          return this.concert?.headliners[0].images[0]?.src;
        }

        get begin () {
          if (!this.concert.begin) {
            return 'TBA';
          }
          // @ts-ignore
          return this.concert.begin.substring(0, this.concert.begin.length - 3);
        }

        get doors () {
          if (!this.concert.doors) {
            return 'TBA';
          }
          // @ts-ignore
          return this.concert.begin.substring(0, this.concert.begin.length - 3);
        }

        get price () {
          if (!this.concert.price) {
            return null;
          }

          const num = this.concert.price / 100;
          return num.toLocaleString('de-DE', { style: 'currency', currency: 'EUR' });
        }

        get supports () {
          let support = '';

          this.concert.supports.forEach((artist, index) => {
            support += artist.name;

            if (index + 1 < this.concert.supports.length) {
              support += ' · ';
            }
          });

          return support;
        }

        get tourName () {
          return '';
          // return this.concert.tour === null ? this.concert.headliners[0].name : this.concert.tour.name;
        }

        get ogDescription () {
          if (!this.concert) {
            return '';
          }
          let support = this.supports;
          if (support !== '') {
            support = ' with ' + support;
          }
          return this.concert.date + support + ' in ' + this.concert.venue.city.name + ' @ ' + this.concert.venue.name;
        }

        get ogTitle () {
          let title = '';
          if (!this.concert) {
            return '';
          }
          this.concert.headliners.forEach((artist, index) => {
            title += artist.name;
            if (index + 1 < this.concert.headliners.length) {
              title += ' &';
            }
          });

          return title;
        }
}
</script>
