<template>
  <section>
    <list-paginated :query="require('~/graphql/concertList.gql')" query-key="concerts">
      <template #default="{data, paginatorInfo}">
        <concert-filter-list :total="paginatorInfo.total" />
        <transition-group name="flip-list" class="flex flex-wrap justify-between" tag="div">
          <div v-for="concert in data" :key="concert.uuid" class="w-full md:w-1/2 lg:w-1/3 px-2 pb-3">
            <concert-row :concert="concert" />
          </div>
        </transition-group>
      </template>
    </list-paginated>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Pagination from '~/components/lists/Pagination.vue';
import ListPaginated from '~/components/lists/ListPaginated.vue';
import ConcertFilterList from '~/components/concerts/ConcertFilterList.vue';
import ConcertRow from '~/components/concerts/ConcertRow.vue';

// @ts-ignore
    @Component({
      name: 'index',
      components: { ConcertRow, ConcertFilterList, ListPaginated, Pagination }

    })
export default class index extends Vue {
}
</script>
