<template>
  <div class="bg-background border-l-4 border-brand-accent pt-2 pb-3 pl-2 pr-3 shadow text-font-secondary overflow-auto">
    <div class="flex justify-between mb-2">
      <div class="flex items-center">
        <nuxt-link :to="{name:'concerts-uuid', params:{uuid:concert.uuid}}">
          <div class="h-24 w-24 mr-3">
            <artist-placeholder
              v-if="concert.headliners[0].images.length < 1"
              class="w-full h-full object-cover object-center text-font-secondary uppercase text-center center"
            />
            <responsive-image
              v-else
              :image="concert.headliners[0].images[0]"
              :alt="concert.headliners[0].name"
              class="h-full w-full flex-shrink-0 object-cover rounded-full"
            />
          </div>
        </nuxt-link>
        <div class="leading-tight flex-1 overflow-hidden">
          <nuxt-link
            class="inline-block flex flex-col"
            :to="{name:'concerts-uuid', params:{uuid:concert.uuid}}"
          >
            <div v-if="tourName" class="items-center text-sm justify-between mb-1" v-text="tourName" />
            <div
              class="text-font-primary text-lg font-bold tracking-wider"
            >
              <template
                v-for="(headliner,index) in concert.headliners"
              >
                {{ headliner.name }}
                <template v-if="index + 1 < concert.headliners.length">
                  ·
                </template>
              </template>
            </div>
            <div>
              <template v-for="(support,index) in concert.supports">
                {{ support.name }}
                <template v-if="index + 1 < concert.supports.length">
                  ·
                </template>
              </template>
            </div>
          </nuxt-link>
        </div>
      </div>
      <button-circle-base class="bg-background-dark">
        <star />
      </button-circle-base>
    </div>

    <div class="flex w-full items-center text-sm">
      <div class="flex items-center mr-4">
        <span class="h-em w-em mr-2 text-sm text-font-secondary-dark">
          <calendar />
        </span>
        <span class="leading-none" v-text="date" />
      </div>
      <div class="flex items-center">
        <span class="h-em w-em mr-2 text-sm text-font-secondary-dark">
          <location />
        </span>
        <span class="leading-none" v-text="concert.venue.name" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ButtonCircleBase from '~/components/buttons/ButtonCircleBase.vue';
import Location from '@/assets/svgs/icons/Location.svg';
import Calendar from '@/assets/svgs/icons/Calendar.svg';
import Star from '@/assets/svgs/icons/Star.svg';
import ResponsiveImage from '~/components/ui/ResponsiveImage.vue';
import ArtistPlaceholder from '@/static/placeholder/ArtistPlaceholder.svg';

    interface Concert {
        id: number
        uuid: string
        begin: string
        headliners: {
            name: string
            img: string | null
            images: { src: string, srcSet: string }[]
        }[]
        supports: {
            name: string
        }[]
        date: string,
        venue: {
            name: string
        }
    };
    @Component({
      name: 'ConcertRow',
      components: { ResponsiveImage, ButtonCircleBase, Location, Calendar, Star, ArtistPlaceholder }
    })
export default class ConcertRow extends Vue {
        @Prop({ required: true, type: Object }) concert !: Concert;

        get date () {
          return `${this.concert.date}  ${this.concert.begin.substring(0, this.concert.begin.length - 3)}`;
        }

        get tourName () {
          return '';
        }
}
</script>
