<template>
  <div class="w-full px-2 py-2 mb-2 shadow-lg border-b border-background-dark">
    <div class="w-full flex items-center justify-between bg-background-darker">
      <div class="md:mr-3 md:pr-3 mr-1 pr-1 border-r border-background flex items-center">
        <span class="uppercase md:text-lg text-base text-font-primary mr-2" v-text="total" />
        <span class="uppercase md:text-sm text-xs text-font-secondary">total</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

    @Component({
      name: 'ConcertFilterList'
    })
export default class ConcertFilterList extends Vue {
      @Prop({ required: true, type: Number }) total !: number;
}
</script>
