<template>
  <button
    class="uppercase rounded-full text-font-secondary border"
    :class="{
      'border-brand-accent': active,
      'bg-brand-accent': active,
      'text-font-primary': active,
      'hover:text-font-primary': !active,
      'hover:border-brand-accent': !active,
      'hover:bg-brand-accent': !active,
      'border-background-light': !active
    }"
  >
    <slot />
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
      name: 'ButtonSwitchBase'
    })
export default class ButtonSwitchBase extends Vue {
    @Prop({ default: () => false, type: Boolean }) active !: boolean;
}
</script>
