<template>
  <button class="p-1 md:p-2 flex justify-center items-center w-8 h-8 md:w-10 md:h-10 rounded-full bg-t-50-background" @click="on">
    <slot />
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
      name: 'ButtonCircleBase'
    })
export default class ButtonCircleBase extends Vue {
 @Prop({ default: () => () => {}, type: Function }) on !: () => {}
}
</script>
