<template>
  <button-circle-base :on="on">
    <triple-period-vertical />
  </button-circle-base>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ButtonCircleBase from '~/components/buttons/ButtonCircleBase.vue';
import TriplePeriodVertical from '@/assets/svgs/icons/TriplePeriodVertical.svg';

    @Component({
      name: 'ButtonCircleTriplePeriodVertical',
      components: { ButtonCircleBase, TriplePeriodVertical }
    })
export default class ButtonCircleTriplePeriodVertical extends Vue {
 @Prop({ default: () => () => {}, type: Function }) on !: () => {}
}
</script>
