<template>
  <button-circle-base :on="on" :class="rotation">
    <arrow-icon />
  </button-circle-base>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ArrowIcon from '@/assets/svgs/icons/Arrow.svg';
import ButtonCircleBase from '~/components/buttons/ButtonCircleBase.vue';

    enum Direction {
        Up = 'up',
        Down = 'down',
        Left = 'left',
        Right = 'right',
    }

    @Component({
      name: 'ButtonCircleArrow',
      components: { ButtonCircleBase, ArrowIcon }
    })
export default class ButtonCircleArrow extends Vue {
        @Prop({
          default: () => () => {
          },
          type: Function
        }) on !: () => {};

        @Prop({ default: 'left', type: String }) direction !: Direction;

        get rotation (): object {
          if (this.direction === 'right') {
            return { transform: 'rotate(180)' };
          }
          return { };
        }
}
</script>
