<template>
  <div class="w-full uppercase justify-center pt-16 flex text-3xl text-font-secondary">
    Loading...
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

    @Component({
      name: 'LoadingIndicator'
    })
export default class LoadingIndicator extends Vue {

}
</script>
