<template>
  <div class="flex flex-col items-center pt-5">
    <empty-pages class="lg:w-1/4 md:w-1/3 w-1/2" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import EmptyPages from '@/assets/svgs/heros/EmptyPages.svg';

    @Component({
      name: 'NoResults',
      components: { EmptyPages }
    })
export default class NoResults extends Vue {

}
</script>
