<template>
  <img
    ref="image"
    :srcset="srcset"
    :sizes="sizes"
    v-lazy="src"
    :alt="alt"
    @load="updateSizes"
  >
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
      name: 'ResponsiveImage'
    })
export default class ResponsiveImage extends Vue {
        @Prop({ required: true, type: Object }) image!: { src: string, srcSet: string };
        @Prop({ required: true, type: String }) alt!: string;

        protected sizes: string = '1px';

        calculateWidth () {
          return Math.ceil(
            ((this.$refs.image as HTMLImageElement).getBoundingClientRect().width / window.innerWidth) *
                100);
        }

        updateSizes () {
          this.sizes = this.calculateWidth() + 'vw';
        }

        get src () {
          return this.image?.src;
        }

        get srcset () {
          return this.image?.srcSet || this.src;
        }
}
</script>
