<template>
  <ApolloQuery
    class="flex-1 flex flex-col relative"
    :query="query"
    :variables="fullVariables"
  >
    <template v-slot="{ query, result: { error, data }, isLoading }">
      <!-- Loading -->
      <loading-indicator v-if="isLoading">
        Loading...
      </loading-indicator>

      <!-- Error -->
      <div v-else-if="error" class="w-full h-full absolute flex justify-center items-center text-3xl">
        An error occurred
      </div>

      <!-- Result -->
      <template v-else-if="data">
        <slot :data="data[queryKey].data" :paginatorInfo="data[queryKey].paginatorInfo" :query="query" :error="error" :isLoading="isLoading" />
        <pagination
          :current-page="data[queryKey].paginatorInfo.currentPage"
          :last-page="data[queryKey].paginatorInfo.lastPage"
          @change="page => updatePage(page, query)"
        />
      </template>
      <!-- No result -->
      <no-results v-else />
    </template>
  </ApolloQuery>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { DocumentNode } from 'graphql';
import { SmartQuery } from 'vue-apollo/types/vue-apollo.d';
import Pagination from '~/components/lists/Pagination.vue';
import NoResults from '~/components/ui/NoResults.vue';
import LoadingIndicator from '~/components/ui/LoadingIndicator.vue';

    @Component({
      name: 'ListPaginated',
      components: { LoadingIndicator, NoResults, Pagination }
    })
export default class ListPaginated extends Vue {
        @Prop({ required: true, type: Object }) query !: DocumentNode;
        @Prop({ required: true, type: String }) queryKey !: string;
        @Prop({ default: () => ({}), type: Object }) variables !: { [key: string]: any };

        get fullVariables (): { [key: string]: any, page: string } {
          return {
            ...this.variables,
            ...{ page: (this.$route.query.page as string || '1') }
          };
        }

        updateRouteUrl (nextPage: number):void {
          this.$router.push({
            path: this.$route.path,
            query: {
              ...this.$route.query,
              ...{ page: `${nextPage}` }
            }
          });
        }

        updateFetchMoreQuery (previousResult: any, { fetchMoreResult }: any) {
          return {
            [this.queryKey]: {
              __typename: previousResult[this.queryKey].__typename,
              data: fetchMoreResult[this.queryKey].data,
              paginatorInfo: fetchMoreResult[this.queryKey].paginatorInfo
            }
          };
        }

        async updatePage (nextPage: number, query: SmartQuery<any>) {
          this.updateRouteUrl(nextPage);

          try {
            await query.fetchMore({
              variables: {
                ...this.fullVariables,
                ...{ page: nextPage }
              },
              updateQuery: this.updateFetchMoreQuery
            });
          } catch (e) {

          }
        }
}
</script>
