<template>
  <thy-tabs class="md:text-xl" :default-tab="currentTab">
    <thy-tab-navigation class="flex bg-background shadow overflow-auto" />

    <thy-tab v-for="value in tabs" :key="value.key" class="md:px-3" :identifier="value.key">
      <template #nav="tabContext">
        <artist-show-nav-label :tab-data="value" :tab-context="tabContext" />
      </template>

      <template #content>
        <div class="py-3">
          <component :is="value.content" />
        </div>
      </template>
    </thy-tab>
  </thy-tabs>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ThyTab, ThyTabs, ThyTabNavigation } from '@vuebutler/tabs';
import ArtistShowNavContentConcerts from '~/components/artists/ArtistShowNavContentConcerts.vue';
import ArtistShowNavLabel from '~/components/artists/ArtistShowNavLabel.vue';
import ArtistShowNavContentInfo from '~/components/artists/ArtistShowNavContentInfo.vue';

    @Component({
      name: 'ArtistShowNav',
      components: {
        ArtistShowNavLabel,
        ThyTab,
        ThyTabs,
        ThyTabNavigation
      }
    })
export default class ArtistShowNav extends Vue {
        tabs: object[] = [
          {
            key: 'concerts',
            label: 'Konzerte',
            content: ArtistShowNavContentConcerts
          },
          {
            key: 'info',
            label: 'Info',
            content: ArtistShowNavContentInfo
          }
        ];

        get currentTab () {
          return this.$route.query.tab || 'concerts';
        }
}
</script>
