<template>
  <request-graphql :query="require('@/graphql/artistConcerts.gql')" :variables="{slug: currentArtistSlug}">
    <template v-slot="{result: {data}}">
      <div v-for="concert in data.artist.concerts" :key="concert.id" class="py-2 ">
        <concert-row :concert="concert" />
      </div>
    </template>
  </request-graphql>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RequestGraphql from '~/components/requests/RequestGraphql.vue';
import ConcertRow from '~/components/concerts/ConcertRow.vue';

    @Component({
      name: 'ArtistShowNavContentConcerts',
      components: { ConcertRow, RequestGraphql }
    })
export default class ArtistShowNavContentConcerts extends Vue {
  get currentArtistSlug () {
    return this.$route.params.slug;
  }
}
</script>
