<template>
  <div>
    <div class="h-48 md:h-64 w-full relative hero-pattern">
      <div class="flex justify-between px-3 py-2 text-font-secondary md:px-4 md:py-3 w-full absolute top-0">
        <a @click="$router.back()">
          <button-circle-arrow />
        </a>
        <button-circle-triple-period-vertical />
      </div>
    </div>
    <div class="relative">
      <div
        class="px-2 py-3 md:px-4 md:px-6 -mt-24"
        :style="{'background-image': 'linear-gradient(to bottom, rgba(51,56,70,0) 0%, rgba(51,56,70,1) 40%, rgba(51,56,70,1) 100%)'}"
      >
        <div class="flex mb-3">
          <div
            class="w-1/4 flex-shrink-0 max-w-xxxs min-w-xxxs"
          >
            <div class="pb-full relative rounded-full shadow-lg overflow-hidden">
              <artist-placeholder
                v-if="!hasImg"
                class="w-full h-full object-cover object-center absolute text-font-secondary uppercase text-center center"
              />
              <responsive-image
                v-else
                :image="artist.images[0]"
                :alt="artist.name"
                class="w-full h-full object-cover object-center absolute text-transparent-full"
              />
            </div>
          </div>

          <div class="pl-2 pr-1 md:pl-4 md:pr-3">
            <div class="pt-2 pb-3 md:text-lg">
              <div class="text-font-secondary pb-1 font-thin">
                <span class="uppercase text-lg md:text-xl">Artist</span>
              </div>
              <div>
                <h1 class="text-2xl font-bold leading-none md:text-4xl" v-text="artist.name" />
                <span class="leading-snug text-font-secondary font-thin">@{{ artist.slug }}</span>
              </div>
            </div>
            <div class="flex items-center h-6 md:h-8 font-thin md:text-xl">
              <button-switch-base class="px-5 mr-2 h-full leading-none md:px-6 " :active="false">
                Folgen
              </button-switch-base>
              <button-switch-base class="h-full px-2 py-1 flex items-center md:px-3" :active="false">
                <bell class="h-full" />
              </button-switch-base>
            </div>
          </div>
        </div>
      </div>

      <artist-show-nav />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import ButtonCircleTriplePeriodVertical from '~/components/buttons/ButtonCircleTriplePeriodVertical.vue';
import ButtonCircleArrow from '~/components/buttons/ButtonCircleArrow.vue';
import ArtistPlaceholder from '@/static/placeholder/ArtistPlaceholder.svg';
import ButtonSwitchBase from '~/components/buttons/ButtonSwitchBase.vue';
import Bell from '@/assets/svgs/icons/Bell.svg';
import ArtistShowNav from '~/components/artists/ArtistShowNav.vue';
import ResponsiveImage from '~/components/ui/ResponsiveImage.vue';

interface Artist{
  name: string
  slug: string
  images: {src:string, srcSet:string}[]
}

    @Component({
      name: 'ArtistShowHeader',
      components: {
        ResponsiveImage,
        ArtistShowNav,
        ButtonSwitchBase,
        ButtonCircleArrow,
        ButtonCircleTriplePeriodVertical,
        ArtistPlaceholder,
        Bell
      }
    })
export default class ArtistShowHeader extends Vue {
      @Prop({ required: true, type: Object }) artist !: Artist;

      get hasImg () {
        return this.artist.images.length > 0;
      }
}
</script>
