<template>
  <div
    class="px-2 pb-2 border-b-2 cursor-pointer md:px-5 "
    :class="dynamicStyles"
    v-on="events"
  >
    {{ tabData.label }}
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
      name: 'ArtistShowNavLabel'
    })
export default class ArtistShowNavLabel extends Vue {
 @Prop({ required: true, type: Object }) tabContext !: {active: boolean, events: {click: () => {}}};
 @Prop({ required: true, type: Object }) tabData !: {label: string, key: string};

 get dynamicStyles (): object {
   return {
     'border-transparent text-font-secondary': !this.tabContext.active,
     'border-brand-accent text-font-primary': this.tabContext.active
   };
 }

 updateRouteUrl ():void {
   this.$router.push({
     path: this.$route.path,
     query: {
       ...this.$route.query,
       ...{ tab: `${this.tabData.key}` }
     }
   });
 }

 get events () {
   return {
     ...this.tabContext.events,
     click: () => {
       this.tabContext.events.click();
       this.updateRouteUrl();
     }
   };
 }
}
</script>
