<template>
  <nuxt-link
    :to="{name:'artists-slug', params: {slug:artist.slug}}"
    class="block p-2 flex flex-col items-center w-1/3 max-w-xxs"
  >
    <div
      class="w-full"
    >
      <div class="pb-full relative rounded-full shadow-lg overflow-hidden">
        <artist-placeholder
          v-if="!hasImg"
          class="w-full h-full object-cover object-center absolute text-font-secondary uppercase text-center center"
        />
        <responsive-image
          v-else
          :image="artist.images[0]"
          :alt="artist.name"
          class="w-full h-full object-cover object-center absolute text-transparent-full"
        />
      </div>
    </div>

    <div class="text-sm md:text-lg leading-tight">
      <div
        class="w-full text-center border-b border-background-dark pt-1 text-font-primary"
        v-text="artist.name"
      />
      <div class="w-full text-center pb-1 text-font-secondary">
        <span v-for="(genre,index) in genres" :key="genre.id">
          {{ genre.name }}
          <template v-if="index + 1 < genres.length">
            ·
          </template>
        </span>
      </div>
    </div>
  </nuxt-link>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ArtistPlaceholder from '@/static/placeholder/ArtistPlaceholder.svg';

import { Prop } from '~/node_modules/vue-property-decorator';
import ResponsiveImage from '~/components/ui/ResponsiveImage.vue';

interface Artist{
    name: string
    slug: string
    img: string
  images: {src:string, srcSet:string}[]
  genres: {
        name: string
    }[]
}

    @Component({
      name: 'ArtistCard',
      components: { ResponsiveImage, ArtistPlaceholder }
    })
export default class ArtistCard extends Vue {
        @Prop({ required: true, type: Object }) artist !: Artist;

        get hasImg () {
          return this.artist.images.length > 0;
        }

        get img () {
          return this.artist.img;
        }

        get genres () {
          if (this.artist.genres === undefined) {
            return [];
          }

          return this.artist.genres.slice(0, 2);
        }
}
</script>
