<template>
  <request-graphql :query="require('@/graphql/artistShowInfo.gql')" :variables="{slug:currentArtistSlug}" class="px-3 flex-wrap flex">
    <template v-slot="{result: {data}}">
      <div class="w-full sm:w-1/2 pr-2 mb-3">
        <div class="w-full bg-background shadow-lg border-background-dark border-2">
          <div class="flex items-center bg-background-dark py-1 px-3 text-font-secondary tracking-wider mb-2">
            <note class="mr-3 " />
            <span class="font-light">
              Info
            </span>
          </div>

          <div class="text-base px-3 mb-2">
            <div class="flex items-center border-background-dark border-b-2 text-font-secondary py-1 mb-1">
              <location class="mr-3" />
              Origin City
            </div>
            <div class="tracking-wider font-light">
              <span v-if="data.artist.originCity">
                {{ data.artist.originCity.name }}, {{ data.artist.originCity.country }}
              </span>
              <span v-else class="uppercase text-font-secondary text-sm">No Data</span>
            </div>
          </div>

          <div class="text-base px-3 mb-2">
            <div class="flex items-center border-background-dark border-b-2 text-font-secondary py-1 mb-1">
              <calendar class="mr-3" />
              Founding
            </div>
            <div class="tracking-wider font-light">
              <span v-if="data.artist.founding_year">
                {{ data.artist.founding_year }}
              </span>
              <span v-else class="uppercase text-font-secondary text-sm">No Data</span>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full sm:w-1/2 bg-background shadow-lg border-background-dark border-2">
        <div class="flex items-center bg-background-dark py-1 px-3 text-font-secondary tracking-wider">
          <note class="mr-3 " />
          <span class="font-light">
            Genres
          </span>
        </div>
        <div v-if="data.artist.genres.length !== 0" class="py-2 pl-3 flex flex-wrap font-light text-base">
          <span v-for="(genre) in data.artist.genres" :key="genre.id" class="cursor-pointer hover:bg-brand-accent block py-1 px-3 border border-brand-accent rounded-lg mb-2 mr-3 tracking-wider">{{ genre.name }}</span>
        </div>
        <span v-else class="py-2 pl-3 uppercase text-font-secondary text-sm">No Genres provided</span>
      </div>
    </template>
  </request-graphql>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Location from '@/assets/svgs/icons/Location.svg';
import Calendar from '@/assets/svgs/icons/Calendar.svg';
import Note from '@/assets/svgs/icons/Note.svg';
import RequestGraphql from '~/components/requests/RequestGraphql.vue';

    @Component({
      name: 'ArtistShowNavContentConcerts',
      components: { RequestGraphql, Location, Calendar, Note }
    })
export default class ArtistShowNavContentConcerts extends Vue {
  get currentArtistSlug () {
    return this.$route.params.slug;
  }
}
</script>
