<template>
  <div class="text-font-primary bg-background-darker min-h-screen w-screen flex flex-col" :style="bottomPadding">
    <div class="w-full bg-background flex justify-between items-center px-2">
      <nuxt-link to="/">
        <logo class="text-5xl" />
      </nuxt-link>
      <portal-target name="header-middle" slim>
        <div class="uppercase text-font-secondary text-lg" v-text="title" />
      </portal-target>
      <div class="flex items-center text-2xl text-font-secondary" />
    </div>
    <div class="flex-grow flex flex-col">
      <nuxt />
    </div>
    <div class="flex justify-center">
      <div class="text-font-secondary">
        <nuxt-link
          to="/imprint"
        >
          Impressum
        </nuxt-link>
        |
        <nuxt-link
          to="/privacy"
        >
          Datenschutz
        </nuxt-link>
      </div>
    </div>
    <navigation-main ref="mobileNav" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Logo from '@/assets/svgs/logos/LogoText.svg';
import NavigationMain from '~/components/NavigationMain.vue';

    @Component({
      components: {
        NavigationMain,
        Logo
      }
    })
export default class DefaultLayout extends Vue {
      mobileNavHeight: number = 0;

      get title () {
        return 'StageSlice';
      }

      get bottomPadding () {
        // @ts-ignore
        return { paddingBottom: this.mobileNavHeight + 'px' };
      }

      mounted () {
        const mobileNav:any = this.$refs.mobileNav;
        this.mobileNavHeight = mobileNav.$el.clientHeight;
      }
};
</script>
