<template>
  <div class="container" />
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

    @Component({
    })
export default class Index extends Vue {
  created () {
    this.$router.push('/concerts');
  }
};
</script>
