<template>
  <div class="px-2 tracking-wide">
    <h1 class="mb-6 text-2xl tracking-widest">
      Datenschutzerklärung
    </h1>
    <div class="mr-4">
      <div class="mb-4 w-full px-4 py-6 rounded shadow bg-background">
        <p>
          Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der
          EU-Datenschutzgrundverordnung
          (DSGVO),
          ist:
        </p>
        <p>Tobias Hettler</p>
      </div>
      <div class="mb-4 w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Ihre Betroffenenrechte
        </h2>
        <p>
          Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende
          Rechte
          ausüben:
        </p>
        <ul>
          <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
          <li>Berichtigung unrichtiger personenbezogener Daten,</li>
          <li>Löschung Ihrer bei uns gespeicherten Daten,</li>
          <li>
            Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten
            noch
            nicht
            löschen
            dürfen,
          </li>
          <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
          <li>
            Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen
            Vertrag
            mit
            uns
            abgeschlossen haben.
          </li>
        </ul>
        <p>
          Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die
          Zukunft
          widerrufen.
        </p>
        <p>
          Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden.
          Ihre
          zuständige
          Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit oder der
          mutmaßlichen
          Verletzung.
          Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie
          unter:
          <a
            href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
            target="_blank"
            rel="noopener"
          >https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Zwecke der Datenverarbeitung durch die verantwortliche Stelle und Dritte
        </h2>
        <p>
          Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten
          Zwecken.
          Eine
          Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet
          nicht
          statt.
          Wir
          geben
          Ihre persönlichen Daten nur an Dritte weiter, wenn:
        </p>
        <ul>
          <li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
          <li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist,</li>
          <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,</li>
        </ul>
        <p>
          die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme
          besteht,
          dass
          Sie
          ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Cookies
        </h2>
        <p>
          Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Cookies sind kleine
          Textdateien,
          die
          von
          einem
          Websiteserver auf Ihre Festplatte übertragen werden. Hierdurch erhalten wir automatisch
          bestimmte
          Daten
          wie z.
          B.
          IP-Adresse, verwendeter Browser, Betriebssystem und Ihre Verbindung zum Internet.
        </p>
        <p>
          Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu
          übertragen.
          Anhand
          der in Cookies enthaltenen Informationen können wir Ihnen die Navigation erleichtern und die
          korrekte
          Anzeige
          unserer Webseiten ermöglichen.
        </p>
        <p>
          In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre
          Einwilligung
          eine
          Verknüpfung mit personenbezogenen Daten hergestellt.
        </p>
        <p>
          Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten. Internet-Browser
          sind
          regelmäßig
          so
          eingestellt, dass sie Cookies akzeptieren. Im Allgemeinen können Sie die Verwendung von Cookies
          jederzeit über
          die
          Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die Hilfefunktionen Ihres
          Internetbrowsers, um zu
          erfahren, wie Sie diese Einstellungen ändern können. Bitte beachten Sie, dass einzelne
          Funktionen
          unserer
          Website
          möglicherweise nicht funktionieren, wenn Sie die Verwendung von Cookies deaktiviert haben.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Registrierung auf unserer Webseite
        </h2>
        <p>
          Bei der Registrierung für die Nutzung unserer personalisierten Leistungen werden einige
          personenbezogene
          Daten
          erhoben, wie Name, Anschrift, Kontakt- und Kommunikationsdaten wie Telefonnummer und
          E-Mail-Adresse.
          Sind Sie
          bei
          uns registriert, können Sie auf Inhalte und Leistungen zugreifen, die wir nur registrierten
          Nutzern
          anbieten.
          Angemeldete Nutzer haben zudem die Möglichkeit, bei Bedarf die bei Registrierung angegebenen
          Daten
          jederzeit zu
          ändern oder zu löschen. Selbstverständlich erteilen wir Ihnen darüber hinaus jederzeit Auskunft
          über
          die
          von uns
          über Sie gespeicherten personenbezogenen Daten. Gerne berichtigen bzw. löschen wir diese auch
          auf
          Ihren
          Wunsch,
          soweit keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Zur Kontaktaufnahme in diesem
          Zusammenhang
          nutzen
          Sie bitte die am Ende dieser Datenschutzerklärung angegebenen Kontaktdaten.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          SSL-Verschlüsselung
        </h2>
        <p>
          Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand
          der
          Technik
          entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Kommentarfunktion
        </h2>
        <p>
          Wenn Nutzer Kommentare auf unserer Website hinterlassen, werden neben diesen Angaben auch der
          Zeitpunkt
          ihrer
          Erstellung und der zuvor durch den Websitebesucher gewählte Nutzername gespeichert. Dies dient
          unserer
          Sicherheit,
          da wir für widerrechtliche Inhalte auf unserer Webseite belangt werden können, auch wenn diese
          durch
          Benutzer
          erstellt wurden.
        </p>
      </div>

      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Newsletter
        </h2>
        <p>
          Auf Grundlage Ihrer ausdrücklich erteilten Einwilligung, übersenden wir Ihnen regelmäßig unseren
          Newsletter bzw.
          vergleichbare Informationen per E-Mail an Ihre angegebene E-Mail-Adresse.
        </p>
        <p>
          Für den Empfang des Newsletters ist die Angabe Ihrer E-Mail-Adresse ausreichend. Bei der
          Anmeldung
          zum
          Bezug
          unseres
          Newsletters werden die von Ihnen angegebenen Daten ausschließlich für diesen Zweck verwendet.
          Abonnenten
          können
          auch
          über Umstände per E-Mail informiert werden, die für den Dienst oder die Registrierung relevant
          sind
          (Beispielsweise
          Änderungen des Newsletterangebots oder technische Gegebenheiten).
        </p>
        <p>
          Für eine wirksame Registrierung benötigen wir eine valide E-Mail-Adresse. Um zu überprüfen, dass
          eine
          Anmeldung
          tatsächlich durch den Inhaber einer E-Mail-Adresse erfolgt, setzen wir das
          „Double-opt-in“-Verfahren
          ein. Hierzu
          protokollieren wir die Bestellung des Newsletters, den Versand einer Bestätigungsmail und den
          Eingang
          der
          hiermit
          angeforderten Antwort. Weitere Daten werden nicht erhoben. Die Daten werden ausschließlich für
          den
          Newsletterversand
          verwendet und nicht an Dritte weitergegeben.
        </p>
        <p>
          Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer Nutzung für den
          Newsletterversand
          können Sie
          jederzeit widerrufen. In jedem Newsletter findet sich dazu ein entsprechender Link. Außerdem
          können
          Sie
          sich
          jederzeit auch direkt auf dieser Webseite abmelden oder uns Ihren entsprechenden Wunsch über die
          am
          Ende
          dieser
          Datenschutzhinweise angegebene Kontaktmöglichkeit mitteilen.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Kontaktformular
        </h2>
        <p>
          Treten Sie bzgl. Fragen jeglicher Art per E-Mail oder Kontaktformular mit uns in Kontakt,
          erteilen
          Sie
          uns zum
          Zwecke
          der Kontaktaufnahme Ihre freiwillige Einwilligung. Hierfür ist die Angabe einer validen
          E-Mail-Adresse
          erforderlich.
          Diese dient der Zuordnung der Anfrage und der anschließenden Beantwortung derselben. Die Angabe
          weiterer
          Daten
          ist
          optional. Die von Ihnen gemachten Angaben werden zum Zwecke der Bearbeitung der Anfrage sowie
          für
          mögliche
          Anschlussfragen gespeichert. Nach Erledigung der von Ihnen gestellten Anfrage werden
          personenbezogene
          Daten
          automatisch gelöscht.
        </p>
      </div>
    </div>
    <div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Verwendung von Matomo
        </h2>
        <p>
          Diese Website benutzt Matomo (ehemals Piwik), eine Open-Source-Software zur statistischen
          Auswertung
          von
          Besucherzugriffen. Matomo verwendet sog. Cookies, also Textdateien, die auf Ihrem Computer
          gespeichert
          werden
          und
          die eine Analyse der Benutzung der Website durch Sie ermöglichen.
        </p>
        <p>
          Die durch das Cookie erzeugten Informationen über Ihre Nutzung des Internetangebotes werden auf
          einem
          Server in
          Deutschland gespeichert.
        </p>
        <p>
          Die IP-Adresse wird unmittelbar nach der Verarbeitung und vor deren Speicherung anonymisiert. Sie
          haben
          die
          Möglichkeit, die Installation der Cookies durch Änderung der Einstellung Ihrer Browser-Software
          zu
          verhindern.
          Wir
          weisen Sie darauf hin, dass bei entsprechender Einstellung eventuell nicht mehr alle Funktionen
          dieser
          Website
          zur
          Verfügung stehen.
        </p>
        <p>
          Sie können sich entscheiden, ob in Ihrem Browser ein eindeutiger Webanalyse-Cookie abgelegt
          werden
          darf,
          um dem
          Betreiber der Webseite die Erfassung und Analyse verschiedener statistischer Daten zu
          ermöglichen.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Verwendung von Scriptbibliotheken (Google Webfonts)
        </h2>
        <p>
          Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen, verwenden
          wir
          auf
          dieser
          Website
          Scriptbibliotheken und Schriftbibliotheken wie z. B. Google Webfonts (<a
            href="http://www.google.com/webfonts/"
            target="_blank"
            rel="noopener"
          >https://www.google.com/webfonts/</a>).
          Google Webfonts werden zur Vermeidung mehrfachen Ladens in den Cache Ihres Browsers übertragen.
          Falls
          der
          Browser
          die Google Webfonts nicht unterstützt oder den Zugriff unterbindet, werden Inhalte in einer
          Standardschrift
          angezeigt.
        </p>
        <p>
          Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum
          Betreiber
          der
          Bibliothek aus. Dabei ist es theoretisch möglich – aktuell allerdings auch unklar ob und ggf. zu
          welchen
          Zwecken
          –
          dass Betreiber entsprechender Bibliotheken Daten erheben.
        </p>
        <p>
          Die Datenschutzrichtlinie des Bibliothekbetreibers Google finden Sie hier: <a
            href="https://www.google.com/policies/privacy/"
            target="_blank"
            rel="noopener"
          >https://www.google.com/policies/privacy/</a>
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Verwendung von Google Maps
        </h2>
        <p>
          Diese Webseite verwendet Google Maps API, um geographische Informationen visuell darzustellen.
          Bei
          der
          Nutzung
          von
          Google Maps werden von Google auch Daten über die Nutzung der Kartenfunktionen durch Besucher
          erhoben,
          verarbeitet
          und genutzt. Nähere Informationen über die Datenverarbeitung durch Google können Sie <a
            href="http://www.google.com/privacypolicy.html"
            target="_blank"
            rel="noopener"
          >den
            Google-Datenschutzhinweisen</a> entnehmen. Dort können Sie im Datenschutzcenter auch Ihre
          persönlichen
          Datenschutz-Einstellungen verändern.
        </p>
        <p>
          Ausführliche Anleitungen zur Verwaltung der eigenen Daten im Zusammenhang mit Google-Produkten<a
            href="http://www.dataliberation.org/"
            target="_blank"
            rel="noopener"
          > finden Sie
            hier</a>.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Eingebettete YouTube-Videos
        </h2>
        <p>
          Auf einigen unserer Webseiten betten wir Youtube-Videos ein. Betreiber der entsprechenden Plugins
          ist
          die
          YouTube,
          LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie eine Seite mit dem YouTube-Plugin
          besuchen,
          wird eine
          Verbindung zu Servern von Youtube hergestellt. Dabei wird Youtube mitgeteilt, welche Seiten Sie
          besuchen. Wenn
          Sie
          in Ihrem Youtube-Account eingeloggt sind, kann Youtube Ihr Surfverhalten Ihnen persönlich
          zuzuordnen.
          Dies
          verhindern Sie, indem Sie sich vorher aus Ihrem Youtube-Account ausloggen.
        </p>
        <p>
          Wird ein Youtube-Video gestartet, setzt der Anbieter Cookies ein, die Hinweise über das
          Nutzerverhalten
          sammeln.
        </p>
        <p>
          Wer das Speichern von Cookies für das Google-Ad-Programm deaktiviert hat, wird auch beim
          Anschauen
          von
          Youtube-Videos
          mit keinen solchen Cookies rechnen müssen. Youtube legt aber auch in anderen Cookies
          nicht-personenbezogene
          Nutzungsinformationen ab. Möchten Sie dies verhindern, so müssen Sie das Speichern von Cookies
          im
          Browser
          blockieren.
        </p>
        <p>
          Weitere Informationen zum Datenschutz bei „Youtube“ finden Sie in der Datenschutzerklärung des
          Anbieters
          unter:
          <a
            href="https://www.google.de/intl/de/policies/privacy/"
            target="_blank"
            rel="noopener"
          >https://www.google.de/intl/de/policies/privacy/ </a>
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Änderung unserer Datenschutzbestimmungen
        </h2>
        <p>
          Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen
          rechtlichen
          Anforderungen
          entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B.
          bei
          der
          Einführung
          neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.
        </p>
      </div>
      <div class="mb-4  w-full px-4 py-6 rounded shadow bg-background">
        <h2 class="mb-4&quot;">
          Fragen an den Datenschutzbeauftragten
        </h2>
        <p>
          Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich
          direkt an
          die fürs
          den
          Datenschutz verantwortliche Person in unserer Organisation:
        </p>
        <p>
          <em>Die Datenschutzerklärung wurde mit dem </em><a
            href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/"
            target="_blank"
            rel="noopener"
          ><em>Datenschutzerklärungs-Generator der activeMind AG
            erstellt</em></a><em>.</em>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Privacy'
};
</script>
