<template>
  <div>
    <portal to="header-middle">
      <div class="w-full bg-background-dark flex text-2xl items-center px-3 mx-4">
        <search-icon class="mr-3 flex-shrink-0" />
        <input
          v-model="query"
          autofocus
          class="appearance-none bg-transparent w-full"
          placeholder="Suche"
        >
      </div>
    </portal>
    <request-graphql
      :query="require('@/graphql/search.gql')"
      :variables="{query}"
      :debounce="500"
      :update="formatResult"
      :show-no-results="query === ''"
    >
      <template v-slot="{result}">
        <div class="px-2">
          <h2 class="mb-1 uppercase text-2xl tracking-widest border-b border-background shadow">
            Artists
          </h2>
          <div v-if="result.data.artists.length !== 0 && query !== ''" class="flex flex-wrap justify-between">
            <artist-card v-for="artist in result.data.artists" :key="artist.id" :artist="artist" />
          </div>
          <div v-else-if="query !== ''" class="flex flex-col items-center p-2">
            <void class="w-1/4 mb-2" />
            <span class="text-font-secondary">No Artist Found</span>
          </div>

          <h2 class="mb-1 uppercase text-2xl tracking-widest border-b border-background shadow">
            Concerts
          </h2>
          <div v-if="result.data.concerts.length !== 0" class="w-full">
            <concert-row v-for="concert in result.data.concerts" :key="concert.id" class="mb-2" :concert="concert" />
          </div>
          <div v-else-if="query !== ''" class="flex flex-col items-center p-2">
            <void class="w-1/4 mb-2" />
            <span class="text-font-secondary">No Concerts Found</span>
          </div>
        </div>
      </template>
    </request-graphql>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RequestGraphql from '~/components/requests/RequestGraphql.vue';
import Logo from '@/assets/svgs/logos/LogoText.svg';
import SearchIcon from '@/assets/svgs/icons/Search.svg';
import Void from '@/assets/svgs/heros/Void.svg';
import ArtistCard from '~/components/artists/ArtistCard.vue';
import ConcertRow from '~/components/concerts/ConcertRow.vue';

    @Component({
      name: 'search',
      components: {
        ConcertRow,
        ArtistCard,
        RequestGraphql,
        Logo,
        Void,
        SearchIcon
      }
    })
export default class search extends Vue {
        debounce?: any;
        query: string = '';

        formatResult (data: any) {
          return {
            artists: data.artists?.data || [],
            concerts: data.concerts?.data || []
          };
        }
}
</script>
