<template>
  <ApolloQuery :query="query" :variables="variables" :skip="skip" :debounce="debounce" :update="update">
    <template v-slot="apollo">
      <!-- Loading -->
      <loading-indicator v-if="apollo.isLoading">
        Loading...
      </loading-indicator>

      <!-- Error -->
      <div v-else-if="apollo.error" class="w-full h-full absolute flex justify-center items-center text-3xl">
        An error occurred
      </div>
      <!-- Result -->
      <template v-else-if="apollo.result.data && !showNoResults">
        <slot
          v-bind="{
            ...apollo,
          }"
        />
      </template>
      <!-- No result -->
      <no-results v-else />
    </template>
  </ApolloQuery>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { DocumentNode } from 'graphql';
import NoResults from '~/components/ui/NoResults.vue';
import LoadingIndicator from '~/components/ui/LoadingIndicator.vue';

    @Component({
      name: 'RequestGraphql',
      components: { LoadingIndicator, NoResults }
    })
export default class RequestGraphql extends Vue {
        @Prop({ required: true, type: Object }) query !: DocumentNode;
        @Prop({ default: () => ({}), type: Object }) variables !: { [key: string]: any };
        @Prop({ default: undefined, type: Function }) update !: (data: any) => any;
        @Prop({ default: false, type: Boolean }) skip !: boolean;
        @Prop({ default: undefined, type: Number }) debounce !: number;
        @Prop({ default: false, type: Boolean }) showNoResults !: boolean;
}
</script>
